body{
    margin: auto;
    width: 80%;
    max-width: 800px;
    background-image: url(kepek/fohatter.png);
    background-color: blanchedalmond;
    background-size: cover;

}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-size: cover;
    background-image: url(kepek/fohatter.png);
    background-color: lightblue;
    border-radius: 50px;
    
    
}

a:hover{
    color: black;
    
}

a {
    background-color: rgb(255, 162, 250);
    border-color: rgb(239, 117, 255);
    border-radius: 30px;
    border-style: solid;
    color: black;   
    margin: 5%;
    box-sizing: border-box;
    padding: 20px;
  }
  


header{
    font-size: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 50Px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 2px, dashed, black;
    
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;

    

}

section {
    padding: 5px;
    margin: 20px;
}
img {
    width: 90%;
    border-radius: 30%;
    height: 60%;
    margin: 10px;
}
.tarolo {
    
    background-size: cover;
    background-color: lightblue;
    background-image: url(kepek/fohatter.png);
    border-radius: 50Px;
    padding: 5px;
    margin: 10px
    
}

nav a{
    

}
h2{
    text-align: center;
}

.kamilla{
    background-image: url(kepek/divhatter.png);
    background-size: cover;
    background-color: white;
    border-radius: 50Px;
}

.gyomber{
    background-image: url(kepek/divhatter.png);
    background-size: cover;
    background-color: yellow;
    border-radius: 50Px;
}
.levendula{
    background-image: url(kepek/divhatter.png);
    background-size: cover;
    background-color: palevioletred;
    border-radius: 50Px;
}
.csalan{
    background-image: url(kepek/divhatter.png);
    background-size: cover;
    background-color: lightgreen;
    border-radius: 50Px;
}

@media screen and (max-width:610px){
    article {
        grid-template-columns: 1fr;
        border-radius: 100%;
    }
    header {
        font-size: 10px;
        background-color: white;
        padding: 20px;
        border-radius: 50Px;
        margin: 5px;
        padding: 10px;
        text-align: center;
        border: 2px, dashed, black;
    }
 
}
